Repository RakambdaOrg/OverpoweredMending, pull requests merged in 2024-08, with the labels that each got.

#321 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/renovate.json
Labels: sync

#326 Re-enable trinkets support
  fabric/build.gradle.kts
  fabric/src/main/java/fr/rakambda/overpoweredmending/fabric/inventory/TrinketsInventoryProvider.java
Labels: type: 🧱 enhancement, modloader: Fabric

#327 Add 1.21.1 support
  forge/src/main/resources/META-INF/mods.toml
  gradle/libs.versions.toml
  neoforge/src/main/resources/META-INF/neoforge.mods.toml
Labels: type: 🧱 enhancement, modloader: Fabric, modloader: Forge, modloader: Neoforge
